.navigation {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #a09a9a;
    font-size: large;
}

.navigation h1 {
    font-size: xx-large;
    color: rgb(247, 99, 73);
}

.navigation .links {
    margin-left: auto;
}

.navigation a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}

.navigation a:hover {
    color: rgb(247, 99, 73);
}

.content {
    max-width: 80%;
    margin: 40px auto;
    padding: 20px;
}